@import "~bootstrap/scss/bootstrap";

$app-background-color: #bbdb9b;
$primary-text-color: black;
$primary-button-background-color: white;
$primary-button-outline-color: black;
$calculator-background-color: #8d9d90;
$calculator-display-background: #9db4ab;

@mixin box-border($multiplier: 1) {
  border: $multiplier * 1px solid black;
  border-radius: 4px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $app-background-color;

  & .App {
    text-align: center;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.appHeader {
  height: 100px;
}

.calculatorDisplay {
  background-color: $calculator-display-background;
  padding: 12px 10px 20px 10px;
  margin: auto;
  width: 200px;
  height: 20px;
  @include box-border(1);
  border-radius: 10px 10px 0px 0px;
}

.calculatorButtons {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: $calculator-background-color;
  padding: 10px;
  margin: auto;
  width: 200px;
  height: 200px;
  grid-column-gap: 10px;
  border: 1px solid black;
  border-radius: 0px 0px 22px 22px;
}

.calculatorButton {
  @include box-border(1);
  margin: 2px;
}

.equalTo {
  grid-column-start: 3;
  grid-column-end: 5;
}

.calculator {
  width: 300px;
  height: 400px;
  color: black;
  margin: 10px auto;
}
