@import '../../node_modules/bootstrap/scss/bootstrap.scss';

$primary-color: #173d52;
$secondary-color: #e0e0e0;
$tertiary-color: #0d2430;
$button-color: #1976d2;

$std-bs: rgba($tertiary-color, 0.25) 0px 54px 55px,
  rgba($tertiary-color, 0.12) 0px -12px 30px,
  rgba($tertiary-color, 0.12) 0px 4px 6px,
  rgba($tertiary-color, 0.17) 0px 12px 13px,
  rgba($tertiary-color, 0.09) 0px -3px 5px;

@mixin box-border($multiplier: 1) {
  border: $multiplier * 2px solid white;
  border-radius: 4px;
}

.app,
body {
  text-align: center;
  background-color: $primary-color;
  margin-bottom: 10vh;
}

.appTitle {
  width: 80vw;
  margin: 3rem auto;
  padding: 2rem 0.5rem;
  font-weight: 800;
  background-color: $secondary-color;
  color: $tertiary-color;
  box-shadow: $std-bs;
  @include box-border(1);

  & .appTitleLink {
    color: $button-color;
  }
}

.calcContainer {
  margin: 4rem auto;
}

.calculatorDisplay {
  background-color: $secondary-color;
  color: $tertiary-color;
  padding: 12px 10px 20px 10px;
  margin: auto;
  width: 250px;
  height: 60px;
  @include box-border(1);
  border-radius: 10px 10px 0px 0px;
  border: 0.2rem solid white;
}

.calculatorButtons {
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  background-color: $tertiary-color;
  padding: 10px;
  margin: auto;
  width: 250px;
  height: 300px;
  grid-column-gap: 3%;
  border: 1px solid black;
  border-radius: 0px 0px 22px 22px;
  border: 0.2rem solid white;

  box-shadow: $std-bs;
}

.calculatorButton {
  @include box-border(1);
  margin: 2px;
  background-color: $button-color;
  box-shadow: $std-bs;
}

.equalTo {
  grid-column-start: 3;
  grid-column-end: 5;
}
